<h3>Login Administrador</h3>
<form action="/admin/login" method="POST">
  <div class="input-field">
    <input type="text" name="username" id="username" required>
    <label for="username">Usuário</label>
  </div>
  <div class="input-field">
    <input type="password" name="password" id="password" required>
    <label for="password">Senha</label>
  </div>
  <button class="btn blue">Entrar</button>
</form>
